:root {
  --snake-head-color: #16e716;
  --snake-body-color: #dcf11e;
  --snake-border-color: red;
  --food-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  color: #fff;
}

header {
  background-color: #16423C;
  display: flex;
  align-items: center;
  position: relative;
  height: 10%;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 3em;
  width: 100%;
  font-family: 'DS-Roti', sans-serif;
  transition: .4s;
}
@font-face {
  font-family: 'DS-Roti';
  src: url('./fonts/love_roti/Love\ Roti.ttf') format('truetype');
}

header h1:hover {
  color: #C4DAD2;
  cursor: default;
}

header h1 img {
  width: 50px;
}

header a {
  color: #fff;
  text-decoration: none;
  position: absolute;
}

main {
  background-color: #16423C;
  width: 100%;
  height: 80%;
  text-align: center;
}

#score {
  font-size: 24px;
}

canvas {
  background-color: #000;
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
}

#startButton,
#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: #fff;
}

footer {
  background-color: #16423C;
  height: 10%;
  text-align: center;
}