:root {
  --bg-color: #16423C;
  --color-text: #FFF;
  --color-greenNeon: #dcf11e;
  --color-border: #dcf11e;
  --color-food: #ffffff;
  --color-button: #3b8d82;
  --color-button-hover: #dcf11e;
  --color-header-footer-bg: #16423C;
  --color-header-footer-text: #C4DAD2;
}

/* Fuentes usadas */
@font-face {
  font-family: 'DS-Roti';
  src: url('./fonts/love_roti/Love Roti.ttf') format('truetype');
}
@font-face {
  font-family: 'DS-Extra';
  src: url('./fonts/extra_days/Extra\ Days.ttf') format('truetype');
}
@font-face {
  font-family: 'DS-Only';
  src: url('./fonts/island_2/Island\ PERSONAL\ USE\ ONLY!.ttf') format('truetype');
}


/* Reiniciar estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header */
header {
  background-color: var(--color-header-footer-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

header h1 {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  font-family: 'DS-Extra', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header h1 img {
  width: 40px;
  margin-left: 0.5rem;
}

header a {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  transition: .2s;
}

header a:hover {
  filter: opacity(.5);
}

header a img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

/* Main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}

.options {
  width: 100%;
  max-width: 662px;
  background-color: #3b8d82;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 10px;
  border-radius: 5px 5px 0 0;
}

.options div {
  display: flex;
  align-items: center;
}

#score {
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #16423C, 1px -1px 0 #16423C, -1px 1px 0 #16423C, 1px 1px 0 #16423C;
}

.options div button, .modal div button {
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.options button:hover, .modal button:hover {
  background-color: var(--color-greenNeon);
  color: #000;
}

canvas {
  background-color: #10312d;
  border: 1px solid var(--color-text);
  max-width: 100%;
  height: auto;
}

/* Estilos para el texto de cuenta regresiva y pausa */
.countdown-text, .paused-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--color-text);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn-container {
  display: flex;
}

.btn-container button:nth-child(1) {
  margin-right: 1rem;
}

#startButton,
#restartButton {
  margin-top: 1rem;
  padding: .8rem 1rem;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  transition: background-color 0.3s;
}

#startButton:hover,
#restartButton:hover {
  background-color: var(--color-greenNeon);
  color: #000;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#gameOverModal {
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  color: #000;
  margin: 25% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 350px;
  text-align: center;
  border-radius: 0.5rem;
}

.modal-content h2 {
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'DS-Extra', sans-serif;
}

.modal-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#restartGame {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restartGame:hover {
  background-color: var(--color-button-hover);
}

#dynamicModal {
  height: 100%;
}

#dynamicModal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  max-width: 400px;
  margin: 15% auto;
}

#dynamicModal .modal-content h2 {
  font-size: 1.8em;
  padding: 5px;
  font-family: 'DS-Extra', sans-serif;
}

/* Footer */
footer {
  background-color: var(--color-header-footer-bg);
  color: var(--color-header-footer-text);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .by-foot {
  margin-bottom: 0.5rem;
}

footer .by-foot a {
  color: var(--color-header-footer-text);
  text-decoration: none;
}

footer .by-foot a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .logos-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .logos-foot a {
  color: var(--color-header-footer-text);
}

footer .logos-foot a svg {
  width: 30px;
  height: 30px;
  transition: transform 0.2s, color 0.2s;
}

footer .logos-foot a:hover svg {
  transform: scale(1.2);
  color: var(--color-greenNeon);
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  header h1 img {
    width: 30px;
  }

  header a img {
    width: 35px;
    height: 35px;
  }

  #score {
    font-size: 1.2rem;
  }

  #startButton,
  #restartButton,
  #restartGame {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .modal-content h2 {
    font-size: 1.5rem;
  }

  .modal-content p {
    font-size: 1rem;
  }

  .countdown-text, .paused-text {
    font-size: 2.5rem;
  }
}
